.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 128, 177, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  text-shadow: 2px 2px #000000;
}
